@import url(https://fonts.googleapis.com/css?family=Nunito);


body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: 12px;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: auto; 
  }